@keyframes spin {
    from {
        transform: rotate(0deg) scale(2) translateZ(0);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(2) translateZ(0);
    }
}
.hero{
    height:calc(100vh);
    @media #{$above-m}{
        height:calc(100vh - #{$desktop-spacing-l});
    }
    position:relative;
    .wrapper{
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .hero-arrow{
        display:block;
    }
    .arrow-down{
        position:absolute;
        bottom:2em;
        left:50%;
        transform:translate3d(-50%,0,0);
        transition:opacity .75s $easeOutQuart;
        &:hover{
            opacity:.5;
        }
        svg{
            height:.75em;
            width:auto;
        }
    }
    .product-name, .description{
        display:flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:50%;
    }
    .image-wrapper,.video-wrapper{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        overflow:hidden;
        &:after{
            content:'';
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: linear-gradient(rgba($darkest,0), rgba($darkest,1));
        }
        .inner{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        img,video{
            min-height:100%;
            min-width:100%;
            position: relative;
            top:50%;
            left:50%;
            transform:translate3d(-50%,-50%,0);
        }
    }
    &.animate{
        .image-wrapper{
            .inner{
                animation:spin 300s linear infinite;
            }
        }
    }
    .logo{
        height:$fs-xl;
        @media #{$above-l}{
            height:$fs-xxxl;
        }
    }
    .description{
        top:auto;
        bottom:0;
        @media #{$below-m}{
            padding:1em;
        }
        @media #{$above-m}{
            .wrapper{
                max-width:calc(50% + 3.5em*2)
            }
        }
    }
}